:root {
    --bg-color: #1a1a1a; /* Dark gray */
    --card-bg: #2e2e2e; /* Slightly lighter gray */
    --text-color: #ffffff; /* White */
    --accent-color: #9b4dca; /* Lighter purple */
    --border-color: #444444; /* Medium gray for borders */
}

/* Prevent text selection and cursor change on hover */
* {
    user-select: none;
    pointer-events: none;
}

/* Allow interaction with links, buttons, inputs, etc. */
a,
button,
input,
textarea {
    user-select: text;
    pointer-events: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

/* Navbar styles */
.navbar {
    background-color: var(--bg-color); /* Use the defined dark gray */
    background-image: linear-gradient(
        135deg,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
    ); /* Dark glossy gradient from top right to bottom left */
    box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.1),
        0 4px 6px rgba(0, 0, 0, 0.5); /* Slight shadow for depth */
    border-bottom: 1px solid var(--border-color); /* Optional, for more definition */
}

/* Navbar link styles */
.navbar-nav .nav-link {
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for both hover effects */
}

/* Hover effect */
.navbar-nav .nav-link:hover {
    transform: scale(1.1); /* Slightly scale the link on hover */
    color: var(--accent-color); /* Ensure the color remains on hover */
}

/* Add space between the navbar links */
.centered-nav .nav-link {
    margin: 0 20px; /* Adjust the distance as needed */
}

/* Centered navigation */
.centered-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 992px) {
    .centered-nav {
        position: static; /* Revert to normal flow for small screens */
        transform: none;
    }
}

/* Home.css */

.home-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Name and Description */
.name {
    font-size: 3rem;
    font-weight: bold;
}

.description {
    font-size: 1.5rem;
}

/* Profile Image styling */
.profile-image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Bio styling */
.bio-section h2 {
    font-size: 2rem;
    color: var(--accent-color);
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .profile-image {
        width: 200px;
        height: 200px;
    }

    .bio-section {
        text-align: center;
    }
}
