:root {
    --bg-color: #1a1a1a; /* Dark gray */
    --card-bg: #2e2e2e; /* Slightly lighter gray */
    --text-color: #ffffff; /* White */
    --accent-color: #9b4dca; /* Lighter purple */
    --border-color: #444444; /* Medium gray for borders */
}

/* Prevent text selection and cursor change on hover */
* {
    user-select: none;
    pointer-events: none;
}

/* Allow interaction with links, buttons, inputs, etc. */
a,
button,
input,
textarea {
    user-select: text;
    pointer-events: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}
